    <!-- Footer -->
    <footer class="footer" style="background-color: #dbc361; height: auto; width: 100%; padding: 3%; color: black; border-radius: 10px; opacity: 0.8" data-aos="fade-up" data-aos-duration="2500">

    	<div class="row">
        	<div class="col s6" >
    	    	 <h4 align="center">
    	    		Links:
    	    	</h4>
    			<ul align="center" style="list-style-type: none;">
    				<li><%= link_to "Home", root_path, style: "color: black;" %></li>
    				<li><%= link_to "About Us", pages_about_path, style: "color: black;" %></li>
                    <li><%= link_to "Terms & Conditions", pages_terms_path, style: "color: black;" %></li>
    				<li><%=link_to 'Contact', new_contact_path, :style => "text-decoration: none; color: black;" %></li>
    				
    			</ul>

    			<br>
    			<br>


    			 
        	</div>

        	<div class="col s6">
        		<h4 align="center">
        			Social Media:
        		</h4>

        		<ul align="center" style="list-style-type: none;">
        			<li><a style="background-color: hotpink; color: black;" href="https://instagram.com/expgrowthcapital?utm_source=ig_profile_share&igshid=1381lcsdm2qnf" target="_blank" class="waves-effect waves-light btn-floating btn-large social instagram"> <i class="fa fa-instagram"></i>Instagram</a></li>
                    
        		</ul>
        	</div>
    	</div>

	

    	<div class="row" align="center">
				<h5>Copyright © 2018</h5>
    	</div>


    </footer>