
<div class="container" style="color: white; margin-top: 15%; margin-bottom: 70%; " >
		<div class="row">
			<div class="col s12" align="center">
				<h3>Terms & Conditions</h3>
			</div>
		</div>
		<div class="row">
			<div class="col s12">
				<p>Caution: Trading involves the possibility of financial loss. Only trade with money that you are prepared to lose, you must recognize that for factors outside your control, you may lose all of the money in your trading account. Many forex brokers also hold you liable for losses that exceed your trading capital. So you may stand to lose more money than is in your account.

				Our trading services do not guarantee returns nor are they recommendations for trading or investments. Our trading services provide trades and strategy that may or may not have been used or executed by us and any decision to trade based on our information is the sole responsibility of you.

				Exponential Growth Capital does not take responsibility for any loss incurred as a result of our trading services, mirror trade packages or any communication we have with you. By signing up as a member you acknowledge that we are not providing financial advice and that you are making the decision to copy our trades on your own account. We have no knowledge on the level of money you are trading with or the level of risk you are taking with each trade. You must make your own financial decisions, we take no responsibility for money made or lost as a result of our copy trade packages or advice on forex related services. 
				</p>
			</div>
		</div>
</div>
