<div class="row" align="center" style="margin-top: 15%;">
	<h4 style="color:white;">Contact Us!</h4>
	
	<div align="center">
		<div class="row">
	        <ul >
	 
	          <li><a href="https://instagram.com/expgrowthcapital?utm_source=ig_profile_share&igshid=1381lcsdm2qnf" class="waves-effect waves-light btn social instagram" style="background-color: #dbc361; color: black;"><i class="fa fa-instagram"></i> Check Out Our Instagram!</a></li>

	        </ul>
	      </div>
	 </div>

	
	<div style="margin-top: 2%; margin-bottom: 60%">
		<%= render 'form', contact: @contact %>
	</div>


	




</div>


